<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Primero.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0768B5BC1CF64EE300E48377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0768B5D81CF64EE300E48377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0768B5E31CF64EE300E48377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
